/* Todo box  */
.todo-box {
  /* Level 2 grid division: the articles */
  padding: 1em;
  background: #fff;
  min-height: 80px;
  max-height: min-content;
  border-radius: 0.5em;
  border: 1px solid #f5f5f5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
}
.todo-hide {
  display: none;
}

.todo-time {
  font-size: 0.75rem;
  color: #adadad;
  line-height: 1.2em;
  padding-left: 35px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  grid-template-rows: 1fr;
  column-gap: 0.5em;
}

.todo-time span {
  font-size: 0.75rem;
  line-height: 1.2em;
  vertical-align: text-bottom;
}

.trash-icon {
  cursor: pointer;
  justify-self: end;
}

.todo-text {
  font-size: 1rem;
  color: #666666;
  line-height: 1.2em;
}

/* Grid row for the todos that are done  */
.todo-done {
  padding: 2em auto;
}

/* Differenciated styles for the todo boxes that are done take the .todo-done class their own class  */

.todo-done .todo-box {
  background-color: #e3e3e3;
  border: 1px solid #d1d1d1;
}

/*Dublicate for an easier implementation of todos: Descendant to clas class*/

.todo-done.todo-box {
  background-color: #e3e3e3;
  border: 1px solid #d1d1d1;
}

.todo-done .todo-text {
  text-decoration: line-through;
}

/* Customizes the label container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hides the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Creates a custom checkbox area */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
}

/* Adds a hover style to the UNselected custom checkbox area */
.checkmark:hover {
  background-color: #e3e3e3;
  border: 1px solid #d1d1d1;
}

/* Adds a style to the Selected custom checkbox area */
.checkbox-container .checkmark.toggle {
  background-color: #68cc65;
  border: 1px solid #55a553;
}
