/* Modal page styles */
.ModalDisplay {
  display: none;
}

.ModalContainer {
  display: grid;
  grid-template-columns: 1fr minmax(280px, 500px) 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
  padding: 1em;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  box-sizing: border-box;
}

.ModalBox {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-gap: 0px;
  width: 100%;
  min-height: 460px;
  margin: auto;
  padding: 1em;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
