/* Make me yours overlay styles */
.modal-container-bkg-color p {
  color: #999999;
  font-size: 0.875rem;
  line-height: 1.5em;
}

.modal-container-bkg-color .model-content-box {
  margin: 1em 0;
}

.model-content-box p span {
  text-transform: uppercase;
}
.centerElement {
  display: flex;
  justify-content: center;
}

.colorSampler {
  text-align: center;
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 10%;
  overflow: hidden;
  border: 5px solid #ffffff;
  margin-bottom: 1em;
  background-color: #ffffff;
}

.headerColor,
.bodyColor {
  position: absolute;
  width: 100%;
  font-size: 0.75rem;
  cursor: pointer;
}

.headerColor {
  left: 0;
  top: 0;
  height: 30%;
  padding-top: 1em;
  color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(90deg, #c471ed 0%, #f64f59 100%);
}

.bodyColor {
  right: 0;
  bottom: 0;
  height: 65%;
  padding-top: 3em;
  color: rgba(0, 0, 0, 0.5);
  background-color: #f5f5f5;
}

.headColorOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bodyColorOptions {
  display: none;
}

.headColorOptions,
.bodyColorOptions {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0.5em auto;
}

.headColorOptions p,
.bodyColorOptions p {
  text-align: center;
  width: 100%;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.colorBox {
  width: 3em;
  height: 3em;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  margin-right: 2em;
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.colorBox:hover {
  border: 5px solid #ffffff;
  transform: scale(1.1);
  transition: ease-in 200ms;
}

.activeColor {
  border: 5px solid #ffffff;
}

.gradDefault {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c471ed, #f64f59);
  background: linear-gradient(to right, #c471ed, #f64f59);
}

.gradBlue {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);
  background: linear-gradient(to right, #4286f4, #373b44);
}

.gradGreen {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
}

.bodyDefault {
  background: #f5f5f5;
}

.bodyDark {
  background: #373b44;
}

.bodyGreen {
  background: #11998e;
}