.ModalHeader {
  justify-self: end;
  height: 40px;
}

button.CloseModal {
  border: 0;
  padding: 0;
  color: #666666;
  background-color: transparent;
  cursor: pointer;
}

.ModalContentHeader {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #666666;
  margin-bottom: 0.5em;
}

.ModalContentHeader span {
  font-weight: 700;
}

.ModalContentBox {
  margin-bottom: 2em;
  color: #999999;
  font-size: 0.875rem;
  line-height: 1.2em;
}

.ModalContentBox label {
  font-size: 0.75rem;
  font-weight: 400;
  color: #adadad;
  margin-left: 1em;
}

.ModalContentBoxUpper {
  text-transform: uppercase;
}
.CenterElement {
  display: flex;
  justify-content: center;
}

.ColorSampler {
  text-align: center;
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 10%;
  overflow: hidden;
  border: 5px solid #ffffff;
  margin-bottom: 1em;
  background-color: #ffffff;
  box-sizing: border-box;
}

.HeaderColor,
.BodyColor {
  position: absolute;
  width: 100%;
  font-size: 0.75rem;
  cursor: pointer;
  box-sizing: border-box;
}

.HeaderColor {
  left: 0;
  top: 0;
  height: 30%;
  padding-top: 1em;
  color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(90deg, #c471ed 0%, #f64f59 100%);
}

.BodyColor {
  right: 0;
  bottom: 0;
  height: 65%;
  padding-top: 3em;
  color: rgba(0, 0, 0, 0.5);
  background-color: #f5f5f5;
}

.HeadColorOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.BodyColorOptions {
  display: none;
}

.HeadColorOptions,
.BodyColorOptions {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0.5em auto;
}

.HeadColorOptions p,
.BodyColorOptions p {
  text-align: center;
  width: 100%;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.ColorBox {
  width: 3em;
  height: 3em;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  margin-right: 2em;
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box;
}

.ColorBox:hover {
  border: 5px solid #ffffff;
  transform: scale(1.1);
  transition: ease-in 200ms;
}

.ActiveColor {
  border: 5px solid #ffffff;
}

.GradDefault {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c471ed, #f64f59);
  background: linear-gradient(to right, #c471ed, #f64f59);
}

.GradBlue {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373b44);
  background: linear-gradient(to right, #4286f4, #373b44);
}

.GradGreen {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
}

.BodyDefault {
  background: #f5f5f5;
}

.BodyDark {
  background: #373b44;
}

.BodyGreen {
  background: #11998e;
}
