/*  Navigation */
.Navigation {
  display: grid;
  grid-template-columns: 1fr minmax(280px, 1170px) 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  height: 5em;
  width: 100%;
  margin-top: 0;
  position: fixed;
  top: 0;
  background: #c471ed; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c471ed,
    #f64f59
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c471ed,
    #f64f59
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1;
}


.NavbarRight {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.NavbarCenter {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-gap: 0px;
  height: 5em;
  padding: 0;
  /* margin: 0 auto; */
  justify-items: end;
}

.NavbarCenter h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  height: 1.25em;
  align-self: center;
  justify-self: center;
  margin-top: 30px;
  text-align: center;
}

.NavbarCenter h1 span,
.ModelContentHeader span {
  font-weight: 700;
}

/* Add todo button */
a.add-todo {
  display: grid;
  grid-template-rows: 1fr;
  color: #666666;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 50px;
  /* margin-right: 2em; */
  border-radius: 50%;
  justify-items: center;
  text-decoration: none;
}

a.add-todo:hover {
  background-color: #000;
  color: #ffffff;
  transform: scale(1.2);
  transition: ease-in 300ms;
}

.add-todo {
  border: 0;
  height: inherit;
  width: inherit;
}

a.add-todo span.material-icons {
  grid-row: 2 / 3;
  grid-gap: 0px;
  line-height: 50px;
}

/* Colour settings button */
.settingsBtn {
  display: grid;
  margin-top: 0.5em;
  width: 2em;
  height: 2em;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  justify-items: center;
  align-items: center;
}

.settingsBtn:hover {
  color: rgba(255, 255, 255, 1.7);
  transform: scale(1.2);
  transition: ease-in 300ms;
}

.settingsBtn .material-icons {
  font-size: 1.25rem;
}
