/* Beginning of Golbal CSS settings */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

body {
  margin: 0;
}

textarea,
input,
button {
  outline: none;
  box-sizing: border-box;
}
/* End of Golbal CSS settings */

/* Container with the grid Content + footer */
/* .parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5em;
  grid-gap: 0px;
  width: 100%;
} */
